RewriteEngine On

# Route /admin to the admin front controller
RewriteRule ^admin/?$ admin.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
